<app-pokemon-search (emmitSearch)="search($event)"></app-pokemon-search>

<div class="pokemon-list">
	<ng-template ngFor let-pokemon [ngForOf]="service.allPokemonsSearch">
		<div class="pokemon-card" (click)="openPokemonStatus()">

			<div>
				<img [src]="pokemon?.status?.sprites.other['official-artwork'].front_default"> 
			</div>
				
			<div>
				<b>{{pokemon.name}}</b> 
			</div>
			<div>
				<b *ngFor="let pokemon of pokemon?.status?.types">
					{{pokemon.type.name}}
				</b>
			</div>
			
		</div>
	</ng-template>
</div>